/*
    Centria Edu - Basics of Web Development

    Original author: Ville Heikkiniemi
    Modified by: Student Name
    Last modified: 2026-08-11

    Based on the original course template.
*/

:root {
    --primary: #e10e49;
    --light: #ffffff;
    --dark: #1e1e1e;
    --blue: #263f6a;
    --green: #284e36;
    --orange: #e37222;
    --rose: #c24d52;
}